<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-label>
      <ion-input [(ngModel)]="newUser.nombre"></ion-input>
    </ion-label>

    <ion-label>
      <ion-input type-number [(ngModel)]="newUser.edad"></ion-input>
    </ion-label>
  </ion-list>

  <div style="margin: 20px">
    <ion-button (click)="save()" expand="block" shape="round">
      Guardar
    </ion-button>
  </div>


  @if (cargando) {
    <div style="text-align: center;"></div>
      <ion-spinner name=bubbles
  }


</ion-content>
